{% load static %}
<div id="brands-1" class="brands-wide brands-section division">
    <div class="container">					
        <div class="row">
            <div class="col brands-1-wrapper text-center">	
                <div class="owl-carousel brands-1-carousel">
                
                                        
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <img class="img-fluid" src="{% static 'nelxpress.png' %}" style="padding-top: 60px;" alt="brand-logo" />
                    </div>
                                        
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <img class="img-fluid" src="{% static 'nature.png' %}" style="padding-top: 50px;" alt="brand-logo" />
                    </div>
                                        
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <img class="img-fluid" src="{% static 'nari-brand.jpeg' %}" style="padding-top: 50px;" alt="brand-logo" />
                    </div>
                                        
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <img class="img-fluid" src="{% static 'vicky-brand.jpeg' %}" style="padding-top: 40px;" alt="brand-logo" />
                    </div>
                                        
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo">
                        <img class="img-fluid" src="{% static 'epi-brand.jpeg' %}" style="padding-top: 40px;" alt="brand-logo">
                    </div>
                                        

                </div>
            </div>
        </div>      <!-- End row -->
    </div>	    <!-- End container -->
</div>	