<section id="promo-2" class="pt-100 promo-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row justify-content-center">	
            <div class="col-lg-10 col-xl-8">
                <div class="section-title title-01 mb-70">	

                    <!-- Section ID -->	
                     <!-- <span class="section-id">Nails And Beyond…</span>	 -->

                    <!-- Title -->	
                    <h2 class="h2-lg">Top 3 Leading Contestant</h2>	
                        
                </div>	
            </div>
        </div>


        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">


            <!-- PROMO BOX #1 -->
            <div class="col align-self-end wow fadeInUp" data-wow-delay="0.3s">
                <a href="javascript:void(0)">
                    <div id="pb-2-1" class="promo-box">

                        <!-- Text -->	
                        <div class="promo-box-txt mb-30">	
                             <p class="txt-upcase">From 09.11.21 To 23.11.21</p>
                            <h5 class="h5-xl">30% OFF on Classic Manicure & Pedicure</h5>	
                        </div>

                        <!-- Image -->	
                        <div class="promo-box-img">	
                            <div class="hover-overlay"> 
                                <img class="img-fluid" src="{% static 'images/promo-05.jpg' %}" alt="promo-image" />
                                <div class="item-overlay"></div>
                            </div>
                        </div>

                    </div> 
                </a>
            </div>


            <!-- PROMO BOX #2 -->
            <div id="promo-2-img" class="col wow fadeInUp" data-wow-delay="0.6s">
                <a href="javascript:void(0)">
                    <div id="pb-2-2" class="promo-box">
                        <div class="hover-overlay"> 
                            <img class="img-fluid" src="{% static 'images/promo-06.jpg' %}" alt="promo-image" />
                            <div class="item-overlay"></div>
                        </div>
                    </div> 
                </a>
            </div>


            <!-- PROMO BOX #3 -->
            <div class="col align-self-start wow fadeInUp" data-wow-delay="0.9s">
                <a href="javascript:void(0)">
                    <div id="pb-2-3" class="promo-box">

                        <!-- Image -->	
                        <div class="promo-box-img">	
                            <div class="hover-overlay"> 
                                <img class="img-fluid" src="{% static 'images/promo-07.jpg' %}" alt="promo-image" />
                                <div class="item-overlay"></div>
                            </div>
                        </div>

                        <!-- Text -->	
                        <div class="promo-box-txt mt-30">	
                             <p class="txt-upcase">All Autumn Long!</p>	
                            <h5 class="h5-xl">Prices Reduced On Spa Procedures UP TO 30%</h5>	
                        </div>

                    </div> 
                </a>
            </div>


        </div>    <!-- End row -->	
    </div>	   <!-- End container -->	
</section>	